<!DOCTYPE html>
<html>
<head>
    <title>Iris Prediction</title>
</head>
<body>
    <h1>Click to Train and Predict:</h1>
    <form method="GET" action="/run">
        <button type="submit">Run</button>
    </form>
</body>
</html>

